<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Male-Fashion | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Free shipping, 30-day return or refund guarantee.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<th:block th:switch="${session.ACCOUNT_LOGINED}">
								<div class="header__top__links">
									<a th:case="null" th:href="@{/login}">Sign in</a> <a href="#"></a>
									<a th:case="*" th:href="@{/logout}">Sign out</a> <a href="#"></a>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="./index.html"><img src="img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li><a th:href="@{/index}">Home</a></li>
							<li  class="active"><a  th:href="@{/showAllProduct}">Shop</a></li>
							<li><a href="./blog.html">Blog</a></li>
							<li><a href="./contact.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img
							src="img/icon/search.png" alt=""></a> <a href="#"><img
							src="img/icon/heart.png" alt=""></a> <a th:href="@{/showCart}"><img
							src="img/icon/cart.png" alt=""> <span>0</span></a>
						<div class="price">$0.00</div>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-option">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb__text">
						<h4>Shop</h4>
						<div class="breadcrumb__links">
							<a href="./index.html">Home</a> <span>Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shop Section Begin -->
	<section class="shop spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="shop__sidebar">
						<div class="shop__sidebar__search">
							<input id="searchCode" type="text" placeholder="Search...">
							<button onclick="onCharge('8, ')">
								<span class="icon_search"></span>
							</button>
						</div>
						<div class="shop__sidebar__accordion">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseOne">Categories</a>
									</div>
									<div id="collapseOne" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__categories">
												<ul class="nice-scroll">
													<th:block th:each="items : ${categories}">
														<li><a class="catagories_item"
															th:id="'catagories_item_'+${items.nameCategory}"
															th:attr="onclick=|onCharge('1,'+'${items.nameCategory}')|"
															th:text="${items.nameCategory} + '(' + ${items.amount} +')'"></a>
														</li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
									</div>
									<div id="collapseTwo" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__brand">
												<ul>
													<th:block th:each="items : ${branding}">
														<li><a class="branding_item"
															th:id="'branding_item_'+${items}"
															th:attr="onclick=|onCharge('2,'+'${items}')|"
															th:text="${items.nameBranding}"></a></li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseThree">Filter
											Price</a>
									</div>
									<div id="collapseThree" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__price">
												<ul>
													<th:block th:each="items : ${filterPrice}">
														<li><a th:id="'filterPrice_item_' +${items}"
															th:attr="onclick=|onCharge('4,'+'${items}')|"
															class="filterPrice_item"
															th:text="${items.nameFilterPrice}"></a></li>
													</th:block>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseFour">Size</a>
									</div>
									<div id="collapseFour" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__size">
												<th:block th:each="items : ${size}">
													<label class="size_item"
														th:attr="onclick=|onCharge('3,'+'${items.nameSize}')|"
														th:text="${items.nameSize}"> <input type="radio"
														th:id=${items.namesize}>
													</label>
												</th:block>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseFive">Colors</a>
									</div>
									<div id="collapseFive" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__color">
												<th:block th:each="items, sub : ${color}">
													<label th:class="'c-'+ ${sub.index}" class="color_item">
														<input
														th:attr="onclick=|onCharge('5,'+'${items.nameColor}')|"
														type="radio" th:id="'color_item_' + ${items.nameColor}">
													</label>
												</th:block>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-heading">
										<a data-toggle="collapse" data-target="#collapseSix">Tags</a>
									</div>
									<div id="collapseSix" class="collapse show"
										data-parent="#accordionExample">
										<div class="card-body">
											<div class="shop__sidebar__tags ">
												<th:block th:each="items : ${tag}">
													<label class="tag_item"
														th:attr="onclick=|onCharge('6,'+'${items.nameTag}')|"
														th:text="${items.nameTag}"> <input type="radio"
														th:id=${items.nameTag}>
													</label>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="shop__product__option">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="shop__product__option__left">
									<p>Showing 1–12 of 126 results</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="shop__product__option__right">
									<label>Descending</label> <input
										onclick="onCharge('7,lowToHigh')" type="radio" name="sort"
										value="low to High" checked="checked"> <label
										style="margin-left: 10%">Ascending</label> <input
										onclick="onCharge('7,highToLow')" type="radio" name="sort"
										value="high to low">

								</div>
							</div>
						</div>
					</div>
					<div id="renderHere" class="row">
						<th:block th:each="item : ${list_product}">
							<div class="col-lg-4 col-md-6 col-sm-6 shouldDelele">
								<div class="product__item">
									<div class="product__item__pic set-bg">
										<img alt="no"
											th:src="@{https://drive.google.com/uc?id=} + ${item.productThumnail}">
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
											<li><a><img src="img/icon/compare.png" alt="">
													<span>Compare</span></a></li>
											<li><a
												th:href="@{showInfomation?productId=} + ${item.productId}"><img
													src="img/icon/search.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6 th:text="${item.productName}"></h6>
										<a th:attr="onclick=|onToCart1('1,'+'${item.productId}')|"
											class="add-cart">+ Add To Cart</a>
										<div class="rating">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star-o"></i>
										</div>
										<h5 th:text="${item.productPrice}+'$'"></h5>
										<div class="product__color__select">
											<th:block th:each="item_color, sub : ${item.productColor}">
												<label th:class="${item_color}"> <input type="radio"
													name="color_chooser" id="'pc-' + ${sub.index}">
												</label>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shop Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<p>The customer is at the heart of our unique business model,
							which includes design.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Clothing Store</a></li>
							<li><a href="#">Trending Shoes</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Sale</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Payment Methods</a></li>
							<li><a href="#">Delivary</a></li>
							<li><a href="#">Return & Exchanges</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>NewLetter</h6>
						<div class="footer__newslatter">
							<p>Be the first to know about new arrivals, look books, sales
								& promos!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit">
									<span class="icon_mail_alt"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							2020 All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input onclick="onCharge(this)" type="text" id="search-input"
					placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search End -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

<script type="text/javascript">
	
	var CATEGORIES_CODE = "all";
	var BRANDING_CODE = "all";
	var SIZE_CODE = "all";
	var FILTER_PRICE = "All";
	var COLOR_CODE = "all";
	var TAG_CODE = "all";
	var SORT_CODE = "lowToHigh";
	var SEARCH_CODE = "";	
	
	document.getElementsByClassName('catagories_item')[0].style.fontWeight = "900";
	document.getElementsByClassName('branding_item')[0].style.fontWeight = "900";
	document.getElementsByClassName('filterPrice_item')[0].style.fontWeight = "900";
	document.getElementsByClassName('size_item')[0].classList.add('active');
	document.getElementsByClassName('tag_item')[0].classList.add('active');
	
	
	function onToCart1(vark){
		alert(vark);
		
		var code = vark.split(",")[0];

		var thing = vark.split(",")[1];
		
		var url = "";
		
		switch (code) {
			case"1":{
				url = "https://ustora.herokuapp.com/addToCart1";
				break;
			}
			case "2":{
				url = "https://ustora.herokuapp.com/addToCart2";
				break;
			}
		}
		
		$.ajax({
			url : url,
			type : "POST",
			dataType : "text",
			contentType : "application/json",
			data : thing,
			success : function(data, status) {
				alert(data);
			},error : function(status) {
				alert(status);
			}
		});
	}
	
	function onCharge(vark) {

		var code = vark.split(",")[0];

		var thing = vark.split(",")[1];

		switch (code) {
		case "1": {
			CATEGORIES_CODE = thing;

			for (var index = 0; index < document
					.querySelectorAll(".catagories_item").length; index++) {
				document.querySelectorAll(".catagories_item")[index].style.fontWeight = null;
			}

			document.querySelector("#catagories_item_" + thing).style.fontWeight = "900";

			break;
		}
		case "2": {
			BRANDING_CODE = thing;

			for (var index = 0; index < document
					.querySelectorAll(".branding_item").length; index++) {
				document.querySelectorAll(".branding_item")[index].style.fontWeight = null;
			}

			document.querySelector("#branding_item_" + thing).style.fontWeight = "900";

			break;
		}
		case "3": {
			SIZE_CODE = thing;
			break;
		}
		case "4": {
			FILTER_PRICE = thing;
			for (var index = 0; index < document
					.querySelectorAll(".filterPrice_item").length; index++) {
				document.querySelectorAll(".filterPrice_item")[index].style.fontWeight = null;
			}

			document.querySelector("#filterPrice_item_" + thing).style.fontWeight = "900";
			break;
		}
		case "5": {
			COLOR_CODE = thing;
			for (var index = 0; index < document
					.querySelectorAll(".color_item").length; index++) {
				document.querySelectorAll(".color_item")[index].style.backgroundColor = "gray";
			}
			document.querySelector("#color_item_" + thing).style.backgroundColor = "black";
			break;
		}
		case "6": {
			TAG_CODE = thing;
			break;
		}
		case "7":{
			SORT_CODE = thing;
			break;
		}
		case "8": {
			SEARCH_CODE = document.getElementById('searchCode').value;
			break;
		}
		}

		var object_constant = {
			CATEGORIES_CODE : CATEGORIES_CODE,
			BRANDING_CODE : BRANDING_CODE,
			SIZE_CODE : SIZE_CODE,
			FILTER_PRICE : FILTER_PRICE,
			COLOR_CODE : COLOR_CODE,
			TAG_CODE : TAG_CODE,
			SEARCH_CODE : SEARCH_CODE,
			SORT_CODE : SORT_CODE
		};

		$.ajax({
			url : "https://ustora.herokuapp.com/FindArgsConstaint",
			type : "POST",
			dataType : "json",
			contentType : "application/json",
			data : JSON.stringify(object_constant),
			success : function(data, status) {
				var inner = "";
				
				for(var index  = 0; index < data.length; index ++){
					var color = "";
					for(var indexNested = 0; indexNested < data[index].productColor.split(',').length; indexNested++){
						color+= `
							<label class="${data[index].productColor.split(',')[indexNested]}" for="pc-${indexNested}"> <input type="radio"> 
					    	</label>`;
					}
					
				    inner+= 
				    	`<div class="col-lg-4 col-md-6 col-sm-6"> 
				    <div class="product__item"> <div class="product__item__pic set-bg">
				  	  	<img alt="no"
							src="https://drive.google.com/uc?id=${data[index].productThumnail}">
				    	<ul class="product__hover"> 
				    		<li><a href="#"><img src="img/icon/heart.png" alt></a></li> 
				    		<li><a href="#"><img src="img/icon/compare.png" alt> <span>Compare</span></a> 
				    		</li> <li><a href="#"><img src="img/icon/search.png" alt></a></li> 
				    	</ul> 
				    </div> 
				    <div class="product__item__text"> 
				    	<h6>${data[index].productName}</h6> 
				    	<a onclick="onToCart1('1,'+'${data[index].productId}')" class="add-cart">+ Add To Cart</a> 
				    <div class="rating"> 
				    	<i class="fa fa-star-o"></i> 
				    	<i class="fa fa-star-o"></i> 
				    	<i class="fa fa-star-o"></i> 
				    	<i class="fa fa-star-o"></i> 
				    	<i class="fa fa-star-o"></i> 
				    </div> <h5>${data[index].productPrice}.0$</h5> 
				    <div class="product__color__select"> 
				    	${color}
				    </div> </div> </div> </div>`
				}
				
				document.getElementById('renderHere').innerHTML = inner;
				var Dicky = document.getElementsByClassName('shouldDelele');
				let len = Dicky.length;
				
				for(var indexk = 0; indexk < len; ++indexk){
					Dicky[0].remove();
				}
				
			},
			error : function(status) {
				alert(status);
			}
		});
		/**/
	}
</script>
</html>